  body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: url('assets/background.webp') center/cover no-repeat fixed;
      position: relative;
    }
    body::before {
      content: "";
      position: fixed;
      inset: 0;
      backdrop-filter: blur(10px);
      pointer-events: none;
    }
    .top-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 30px;
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(15px);
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }
    .logo {
      font-size: 1.5rem;
      font-weight: bold;
      color: #ffffff;
    }
    .nav-links {
      list-style: none;
      display: flex;
      gap: 20px;
      margin: 0;
      padding: 0;
    }
    .nav-links a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      transition: 0.2s;
    }
    .nav-links li:last-child a {
      color: #5865F2;
    }
    .nav-links a:hover {
      color: #afafaf;
    }

    /* Center hero block in the middle of page */
    .hero-wrapper {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
    }

    .intro-box {
      background: rgba(255, 255, 255, 0.25);
      padding: 40px;
      width: 500px;
      border-radius: 20px;
      text-align: center;
      backdrop-filter: blur(12px);
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }
    .user-icon {
      width: 90px;
      height: 90px;
      margin-bottom: 15px;
      opacity: 0.9;
    }

    .scroll-btn {
      margin-top: 40px;
      font-size: 2.2rem;
      color: white;
      cursor: pointer;
      animation: bounce 1.8s infinite;
      opacity: 0.9;
    }
@keyframes bounce {
    50% { transform: translateY(10px); }
}

/* NEWS SECTION */
#news {
    padding: 100px 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255,255,255,0.4);
    color: rgb(0, 0, 0);
}

#news h2 {
    text-align: center;
    margin-bottom: 30px;
}

/* News Card */
.news-card {
    width: 500px;
    margin: 0 auto;
    padding: 25px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    text-align: center;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}

.news-img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}

/* Buttons */
.news-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.news-btn {
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    background: rgb(0, 10, 35);
    color: white;
    font-weight: bold;
    backdrop-filter: blur(10px);
    transition: 0.2s;
}

.news-btn:hover {
    background: rgba(70, 70, 70, 0.5);
}

.news-btn.alt {
    background: rgba(88, 101, 242, 0.705);
}

.news-btn.alt:hover {
    background: rgba(88, 101, 242, 0.7);
}