  body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: url('assets/background.webp') center/cover no-repeat fixed;
      position: relative;
    }
    body::before {
      content: "";
      position: fixed;
      inset: 0;
      backdrop-filter: blur(10px);
      pointer-events: none;
    }
    .top-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 30px;
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(15px);
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }
    .logo {
      font-size: 1.5rem;
      font-weight: bold;
      color: #ffffff;
    }
    .nav-links {
      list-style: none;
      display: flex;
      gap: 20px;
      margin: 0;
      padding: 0;
    }
    .nav-links a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      transition: 0.2s;
    }
    .nav-links li:last-child a {
      color: #5865F2;
    }
    .nav-links a:hover {
      color: #afafaf;
    }

    .hero-wrapper {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
    }

    .intro-box {
      background: rgba(255, 255, 255, 0.25);
      padding: 40px;
      width: 500px;
      border-radius: 20px;
      text-align: center;
      backdrop-filter: blur(12px);
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }
    .user-icon {
      width: 90px;
      height: 90px;
      margin-bottom: 15px;
      opacity: 0.9;
    }

    .scroll-btn {
      margin-top: 40px;
      font-size: 2.2rem;
      color: white;
      cursor: pointer;
      animation: bounce 1.8s infinite;
      opacity: 0.9;
    }
@keyframes bounce {
    50% { transform: translateY(10px); }
}

#news {
    padding: 45px 20px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    border-top: 1px dashed rgba(255,255,255,0.4);
}

#news h2 {
    text-align: center;
    margin-bottom: 40px;
}

.news-card {
    max-width: 1100px;
    margin: 0 auto;
    padding: 35px;

    background: rgba(0, 0, 0, 0.35);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    backdrop-filter: blur(25px);
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);

    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 35px;
}

.news-img {
    width: 50%; 
    border-radius: 18px;
}

.news-content {
    width: 50%;
}

.news-buttons {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.news-btn {
    padding: 10px 18px;
    border-radius: 10px;
    text-decoration: none;
    background: rgb(0, 10, 35);
    color: white;
    font-weight: bold;
    transition: 0.2s;
}

.news-btn:hover {
    background: rgba(0, 10, 35, 0.75);
}

.news-btn.alt {
    background: rgba(88, 101, 242, 0.9);
}

.news-btn.alt:hover {
    background: rgba(88, 101, 242, 0.75);
}

@media (max-width: 700px) {
    .news-card {
        flex-direction: column;
        text-align: center;
    }

    .news-img {
        width: 100%;
    }

    .news-content {
        width: 100%;
    }
}

#asset-box {
    min-height: 85vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.asset-card {
    width: 70%;
    max-width: 850px;
    min-height: 250px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    border-radius: 25px;
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 40px;
    box-shadow: 0 4px 25px rgba(0,0,0,0.15);
}

.asset-img {
    width: 50%;
    height: auto;
    border-radius: 20px;
}

.asset-content {
    width: 60%;
}
.asset-content h2 {
    margin-bottom: 15px;
}

.asset-content p {
    margin-bottom: 25px;
    font-size: 1.1rem;
    line-height: 1.5;
}

.asset-btn {
    background: rgb(0, 10, 35);
    color: #fff;
    padding: 12px 25px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: 0.2s;
}

.asset-btn:hover {
    background: rgba(0, 10, 35, 0.8);
}

@media (max-width: 800px) {
    .asset-card {
        flex-direction: column;
        text-align: center;
    }

    .asset-img {
        width: 100%;
    }

    .asset-content {
        width: 100%;
    }
}

    .portfolio-wrapper {
    min-height: 85vh; 
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
    }

    .portfolio-box {
      background: rgba(255, 255, 255, 0.25);
      padding: 40px;
      width: 700px;
      border-radius: 20px;
      text-align: center;
      backdrop-filter: blur(12px);
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }

 .slider-container {
            width: 100%;
            max-width: 700px;
            aspect-ratio: 2 / 1;
            margin: 25px auto 0;
            position: relative;
            overflow: hidden;
            border-radius: 20px;
            box-shadow: 0 4px 20px rgba(0,0,0,0.25);
            backdrop-filter: blur(8px);
        }
        .slider {
            display: flex;
            transition: transform 0.6s ease-in-out;
        }
        .slide {
            min-width: 100%;
        }
        .slide img {
            width: 100%;
            display: flex;
        }
        .arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: rgba(0, 0, 0, 0);
            text-shadow: 0 4px 20px rgba(0,0,0,0.25);
            color: white;
            padding: 10px;
            border-radius: 50%;
            cursor: pointer;
            font-size: 1.5rem;
            transition: 0.2s;
        }
        #prev {
        left: 10px; 
    }
        #next {
         right: 10px; 
        }

        .dots {
            text-align: center;
            margin-top: 10px;
        }
        .dot {
            height: 12px;
            width: 12px;
            display: inline-block;
            background: rgba(255,255,255,0.6);
            border-radius: 50%;
            margin: 5px;
            cursor: pointer;
            transition: 0.3s;
        }
        .dot.active {
        background: white; 
        }

